<!DOCTYPE html>
<html>
  <head>
	<title>ABOUT ME</title>
	<link rel="stylesheet" type="text/css" href="assignment_stylesheet.css">
  </head>

  <body>
    <h1>Joe Johnson</h1>
    <p class="link-class">View my Portfolio <a href="assignment_portfolio.html">here</a></p>
      <h2>I ENJOY LIFE AS A DEVELOPER</h2>
        <p>I'm Joe Johnson, a Developer based in NYC. I Have ten years of experience in the graphic design world, specializing in the creation of responsive websites.</p>
  </body>
</html>
 